[submodule "xamarin"]
	path = xamarin
	url = https://github.com/Fammy/IntroToXamarinPresentation.git
[submodule "AsyncAwaitPresentation"]
	path = AsyncAwaitPresentation
	url = https://github.com/Fammy/AsyncAwaitPresentation.git
