[submodule "xamarin"]
	path = presentations/xamarin
	url = https://github.com/Fammy/IntroToXamarinPresentation.git
[submodule "async"]
	path = presentations/async
	url = https://github.com/Fammy/AsyncAwaitPresentation.git
[submodule "game"]
	path = presentations/game
	url = https://github.com/Fammy/GameJSPresentation
